.prose pre {
	tab-size: 4;
	@apply bg-code-bg shadow-lg;
}

pre.language-jsx,
pre.language-tsx,
pre.language-javascript,
pre.language-typescript,
pre.language-html,
pre.language-css {
	tab-size: 2;
}

.prose code {
	@apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.token.interpolation-punctuation.punctuation,
.token.tag,
.token.rule,
.token.keyword {
	color: rgb(86, 156, 214, var(--tw-text-opacity));
}

.token.function-variable,
.token.function {
	color: rgb(220, 220, 170, var(--tw-text-opacity));
}

.token.attr-equals,
.token.script,
.token.interpolation,
.token.attr-name,
.token.parameter {
	color: rgb(156, 220, 254, var(--tw-text-opacity));
}

.token.builtin,
.token.number,
.token.class-name {
	color: rgb(78, 201, 176, var(--tw-text-opacity));
}

.token.comment {
	color: rgb(106, 153, 85, var(--tw-text-opacity));
}

.token.comment {
	font-style: italic;
}

.token.attr-value,
.token.template-string,
.token.string {
	color: rgb(206, 145, 120, var(--tw-text-opacity));
}
