@tailwind base;
@tailwind components;
@tailwind utilities;
@import './code.css';

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter-var-latin.woff2) format('woff2');
}

html {
	scroll-behavior: smooth;
}

#__next {
	min-height: 100vh;
}

@layer utilities {
	@supports (
		(-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))
	) {
		.blur {
			@apply bg-opacity-70;
			backdrop-filter: blur(12px);
			-webkit-backdrop-filter: blur(12px);
		}
	}
}

figcaption {
	@apply text-center;
}

figure > img {
	@apply mx-auto;
}

.prose pre {
	@apply bg-code-bg shadow-lg;
}

.prose code {
	@apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

table {
	display: block;
	overflow-y: scroll;
}
