@tailwind base;
@tailwind components;
@tailwind utilities;
@import './code.css';

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	src: url(/fonts/inter-var-latin.woff2) format('woff2');
}

html {
	scroll-behavior: smooth;
}

#__next {
	min-height: 100vh;
}

@supports (
	(-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))
) {
	.blur {
		@apply bg-opacity-70;
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
	}
}

figure > img {
	@apply mx-auto;
}

.prose pre {
	@apply bg-code-bg shadow-lg;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

table {
	display: block;
	overflow-y: scroll;
}
