@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./highlight.css');

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: optional;
	src: url(/fonts/inter-var-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

html {
	scroll-behavior: smooth;
}

#__next {
	min-height: 100vh;
}

@layer utilities {
	@supports (
		(-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))
	) {
		.blur {
			@apply bg-opacity-60;
			backdrop-filter: blur(12px);
			-webkit-backdrop-filter: blur(12px);
		}
	}
}

figure {
	@apply text-center;
}

figure > img {
	@apply mx-auto;
}

.prose pre {
	@apply bg-code-bg;
}

.prose code {
	@apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md;
}
